html, body{
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
margin: 0px;
}
html{
    height: 100%;
}
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
a
{
    text-decoration: none;
    color: black;
}
a:hover
{
    text-decoration: underline;
}
a:visited
{
    color: black;
}
a:active
{
    color: red;
}
.content{
    flex: 1 0 auto;
    flex-grow: 1;
    flex-basis: auto;
}
.top{
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-right: 30px;
    margin-top: 15px;
}
.button1{
    color: white;
    font-weight: bold;
    width: 120px;
    height: 40px;
border-radius: 8px;
    margin-top: -12px;
    background-color: #1a73e8;
    display: flex;
    justify-content: center;
    align-items: center;
}
.middle{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20vh;
}
input[type="submit"] {
    background-color: #f8f9fad7;
    padding:5px;
    height: 36px;
    width: 153px;
    border: none; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.wrapper  {
    display: flex;
    align-items: center;
    margin-top: 20px;
    height: 44px;
    width: 582px;
    border: 1px solid rgb(175, 174, 174);
    border-radius: 30px;
}
.wrapper:hover{
    box-shadow: 0px 1px 9px lightgray;
}
input[type="text"]{
    height: 30px;
    width: 500px;
    border: none;
    background-color:none;
}
.search-icon {
    display: flex;
    padding: 5px;
    margin-left: 10px;
}
.buttons{
display: flex;
flex-direction: row;
margin-top: 20px;
}
.search-buttons{
    margin-left: 35px;

}
.bottom{
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
}
h1{
    font-size: 14px;
    font-weight: normal;
    margin-left: 26px;
}
.legal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
    color: grey;
    flex-wrap: wrap;
}
.list{
    display: flex;
    margin-left: -15px;
    margin-right: 30px;
    flex-wrap: wrap;
    
}
.element{
    display: flex;
    margin-right: 15px;  
}
.article{
margin: 20px;
padding: 5px;
border :1px solid rgb(175, 174, 174);
color: initial;
}